body {
	background: #e5e5e5;
	color: black;
}

.rounded-block {
	background: white;
}

/* header */
.header {
	background: white;
}

.header-button {
	border-right: 1px solid #eaeaea;
	color: black;
}

.header-button:hover {
	background: #eaeaea;
}
/*end of header*/

table {
	border-color: #e5e5e5;
}

th {
	background: #212529;
	color: white;
}

.success-button {
	color: white !important;
	background: linear-gradient(#5cb85c, #419641);
	border: 1px solid #3e8f3e;
}

.cancel-button {
	color: white !important;
	background: linear-gradient(#d9534f, #c12e2a);
	border: 1px solid #b92c28;
}

.green_button {
	background: linear-gradient(#5cb85c, #419641);
	border-color: #3e8f3e;
	color: white;
}

.blue_button {
	background: linear-gradient(#337ab7, #265a88);
	border-color: #245580;
	color: white;
}

.input_format {
	border: 1px solid #ced4da;
	background-color: #fff;
	color: #495057;
}

.navbar {
	background-color: #333;
}

.tag-button {
	background-color: transparent;
	border: 1px solid #007bff;
	color: #007bff;
}

.tag-button:hover {
	color: white;
	background-color: #007bff;
	border: 1px solid #007bff;
}

.tag-button:focus {
	color: white;
	background-color: #007bff;
	border: 1px solid #007bff;
}