body {
	background: #131b26;
	color: #eaeaea;
}

.rounded-block {
	background: #203040;
}

/*header*/
.header {
	background: #203040;
}

.header-button {
	border-right: 1px solid #36587E;
	color: white;
}

.header-button:hover {
	background: #3e6a97;
}
/*end of header*/

table {
	border-color: #e5e5e5;
}

th {
	background: #212529;
	color: white;
}

.success-button {
	color: white !important;
	background: #3e6a97;
	border: 1px solid #36587E;
}

.cancel-button {
	color: white !important;
	background: #18222c;
	border: 1px solid #17212E;
}

.green_button {
	background: #3e6a97;
	border-color: #36587E;
	color: white;
}

.blue_button {
	background: #131b26;
	border: 1px #17212E;
	color: white;
}

.input_format {
	border: 1px solid #ced4da;
	background-color: #fff;
	color: #495057;
}

.navbar {
	background-color: #333;
}

.tag-button {
	background-color: transparent;
	border: 1px solid #007bff;
	color: #aeaeae;
}

.tag-button:hover {
	color: white;
	background-color: #007bff;
	border: 1px solid #007bff;
}

.tag-button:focus {
	color: white;
	background-color: #007bff;
	border: 1px solid #007bff;
}